html {
  height: 100%;
  width: 100%;
  code2:9537;
  background-image:url('https://img.freepik.com/free-vector/treasure-hunt-flat-composition-with-top-view-magnifier-map-with-compass-mattock-vector-illustration_1284-75444.jpg?semt=ais_hybrid&w=740&q=80');
}
img {border-radius:15px;}
h1{font-family: "Manufacturing Consent", system-ui;height: 350px;}
